.header__logo {
   width: 13.76%;
   justify-self: start;
 }
 @media screen and (max-width:1279px) and (min-width:1024px){
   .header__logo {
     width: 17.18%;
   }
 }
 @media screen and(max-width:1024px) and (min-width:768px){
   .header__logo{
     width: 22.91%;
   }
 }
 @media screen and (max-width: 767px){
.header__logo {
    width: 53%;
}
 }