.cover__overlay{
    min-height: cals(100vw * 0.625);
    width: 100%;
    bottom:0;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-decoration: none;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
    cursor: pointer;
    transition: background-color 0.25s;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.cover__overlay:hover {
    text-decoration: none;
    background-color: rgba(42, 44, 47, 0.8);
    opacity: 50%;
}